@use 'bootstrap';
@use './partials/colors' as *;

.card {
    width: 200px;
}

.bg-brown {
    background-color: $color-brown;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-brown;
    color: white;
    z-index: 999;
}