@use 'bootstrap';
@use './partials/colors' as *;

.card {
    width: 200px;
    transition: all .2s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.bg-brown {
    background-color: $color-brown;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-brown;
    color: white;
    z-index: 999;
}


select {
    padding: 10px 20px;
    border-radius: 20px;
}